@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(219, 219, 219);
}

header > section{
    background-color: #172A3A;
    width: 100%;
    height: 45px;
    position: fixed; 

    display: grid;
    grid-template-areas: 
    "estoque carrinho suporte titulo"
    ;
}

header > section > h1{
    color: white;
    font-family: lemon;
    font-weight: normal;
    font-size: 1.2em;
    text-align: right;
    padding: 10px 10px 0px 10px;
    margin-right: 10px; 
    grid-area: titulo;
}

nav #menu{
    display: none;
}

nav a.opç{
    display: inline-block;
    text-decoration: none;
    color: #e4a95a;
    padding: 10px;
}

nav li.topico{
    display: inline-block;
    text-decoration: none;
    margin-top: 5px;
    border-radius: 5px 5px 0px 0px;
}

nav #estoque{
    grid-area: estoque;
    margin-left: 10px;
}

nav #carrinho{
    grid-area: carrinho;
    margin-left: 4px;
}

nav #suporte{
    grid-area: suporte;
    margin-left: 4px;
}

nav a.opç:hover{
    background-color: #1f3240;
    color: #d49c53;
    transition-duration: 0.4s;
}

@media(max-width: 400px){
    #estoque, #carrinho, #suporte{
        display: none;
    }

    nav #menu{
        display: block;
        margin-left: 20px;
    }
    nav li#menu ul#opçoes{
        display: none;
    } 

    nav li#menu .topico_in{
        display: block;
    }

    nav li#menu a.opç_in{
        display: block;
        text-decoration: none;
        background-color: #20374a;
        color: white;
        width: 80px;
        padding: 5px;
        text-align: center;
    }

    nav li#menu a.opç_in:hover{
        background-color: #294863;
    }

    nav li#menu:hover > ul#opçoes{
        display: block;
    }
}

header  h1#titulo{
    padding-top: 70px;
    padding-bottom: 50px;
    text-align: center;
    font-family: lemon;
    font-weight: normal;
    font-size: 2.7em;
}

header .linha{
    height: 2px;
    color: black;
}

main > nav{
    background-color: #1d93d7; 
    max-width: 180px;
    height: 71vh;
}

main > nav .topico{
    display: block;
    text-decoration: none;
    font-size: 1.1em;
    padding: 5px;
    padding-left: 30px;
    color: white;
}

main > nav .topico:hover{
    background-color: #0881c7;
    padding-left: 40px;
    transition-duration: 0.3s;
}

main > nav .topico_p{
    display: block;
    text-decoration: none;
    font-size: 1.1em;
    padding: 5px;
    text-align: center;
    color: #d7eafc;
}

main > nav .topico_p:hover{
    background-color: #0881c7;
    color: #5bb9ef;
    text-align: left;
    padding-left: 50px;
    transition-duration: 0.3s;
}

main > nav .topico_cx{
    display: none;
}

.check{
    display: none;
}

input:checked + .topico_principal .topico_p{
    background-color: #0881c7;
    color: #5bb9ef;
    text-align: left;
    padding-left: 10px;
    transition-duration: 0.3s;
}

input:checked + .topico_principal .topico_cx{
    display: block;
}

main > section{
    background-color: #FF3366;
    max-width: 300px;
    border-radius: 8px;
}

main .funko-img{
    width: 100%;
    border-radius: 8px;
}